html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Verdana;
  color: #000;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.left, .right {
  width: 50%;
  height: 100%;
}
.left {
  float: left;
  border-right: 1px solid #999;
  font-size: 2em;
}
.right {
  float: right;
  padding: 1em;
  overflow: scroll;
}
textarea {
  display: block;
  font-size: 0.8em;
  font-family: Arial;
  border: none;
  outline: none;
  resize: none;
  padding: 0.5em;
  color: #333;
}
textarea[name="source"] {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #999;
}
textarea[name="ast"] {
  width: 100%;
  height: 60%
}
.error {
  color: #f00;
  font-weight: bold;
}
.title {
  border-bottom: 1px dotted #999;
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
}
.node {
  font-size: 0.8em;
  margin-bottom: 0.1em;
  padding-bottom: 0.1em;
}
.node pre {
  display: block;
  font-size: 0.8em;
  font-family: "Courier New";
  font-weight: bold;
  border-left: 1px solid #ddd;
  margin: 0.1em 0 0 0.2em;
  color: #aaa;
  padding: 0.2em;
}
.node .node-attr {
  display: block;
  font-size: 0.8em;
  color: #999;
}
.source-cursor {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -55px;
  width: 50px;
  font-size: 0.8em;
  color: #bbb;
  text-align: right;
}
.soft {
  color: #bbb;
}
.props-link {
  color: #999;
  display: inline-block;
  margin-left: 0.2em;
  font-size: 0.9em;
}
.props-link:hover {
  color: #000;
}
.selection-link {
  color: #000;
  text-decoration: none;
}