html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Verdana;
  color: #B0B0B0;
  background: #3F3F3F;
}
nav {
  height: 40px;
  border-bottom: solid 2px #999;
  overflow: hidden;
}
nav ul, nav li {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
}
nav li {
  float: left;
  border-right: 1px solid #888;
  padding: 10px;
}
nav:after {
  clear: both;
  content: " ";
  display: table;
}
.container {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
}
.left, .right {
  width: 50%;
  height: 100%;
}
.left {
  float: left;
  border-right: 1px solid #999;
}
.right {
  float: right;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}
textarea {
  display: block;
  font-size: 0.8em;
  font-family: Arial;
  border: none;
  outline: none;
  resize: none;
  padding: 0.5em;
  color: #FFF;
  background: #3F3F3F;
}
textarea[name="source"] {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid #999;
}
textarea[name="source"]::selection {
  background: #ffcc66;
  color: #000;
  border: solid 1px #000;
}
textarea[name="ast"] {
  width: 100%;
  height: 40%
}
.error {
  color: #f00;
  font-weight: bold;
  background: #FFF;
}
.title {
  border-bottom: 1px dotted #999;
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
}
.node {
  background: #3F3F3F;
  font-size: 0.8em;
  margin-bottom: 0.1em;
  padding-bottom: 0.1em;
}
.node:hover {
  color: #FFF;
  background: #000;
  border-right: 3px solid #999;
  transition: background 800ms ease-out;
  -webkit-transition: background 800ms ease-out;
}
.node pre {
  display: block;
  font-size: 0.8em;
  font-family: "Courier New";
  font-weight: bold;
  border-left: 1px solid #ddd;
  margin: 0.1em 0 0 0.2em;
  color: #aaa;
  padding: 0.2em;
}
.node .node-attr {
  display: block;
  font-size: 0.8em;
  color: #999;
}
.source-cursor {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -72px;
  width: 50px;
  font-size: 0.8em;
  color: #bbb;
  text-align: right;
}
.soft {
  color: #bbb;
}
.props-link {
  color: #999;
  display: inline-block;
  margin-left: 0.2em;
  font-size: 0.9em;
}
.props-link:hover {
  color: #fff;
}
.selection-link {
  color: #FFF;
  text-decoration: none;
}
.positions-mismatch {
  display: inline-block;
  color: #FFF;
  background: #F00;
  padding: 0 0.4em;
  margin: 0 0.4em;
}
.travel {
  float: right;
  font-size: 0.8em;
  padding: 3px 10px 0 0;
}
.travel a {
  color: #fff;
}
.travel a:hover {
  color: #B0B0B0;
}
.travel-status {
  display: inline-block;
  font-size: 0.9em;
  color: #A0A0A0;
  text-align: right;
  width: 100%;
}